---
---

@import "{{ site.theme }}";
.post-list h3 {
    font-weight: 400;
}
.post-list small {
    font-size: medium;
}

.post-header {
    margin-bottom: 20px;
}
.post-header h1.post-title {
    border-style: none;
    font-weight: 400;
    text-align: center;
}
.post-header .post-meta {
    text-align: right;
}


.post-content {
    color: #333;
    line-height: 100%;
}
.post-content ul li {
    line-height: 150%;
    margin-top: 4px;
}
.post-content h1 {
    font-size: 28px;
    font-weight: 400;
}

.post-content h2 {
    font-size: 22px;
    font-weight: 600;
    border-style: none;
}

.footer {
    font-size: 14px;
}
.footer .dot {
    color: #ddd;
    margin: auto 10px;
}

p {
    line-height: 1.5; /* Increase the line spacing between paragraphs */
  }